<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.han.train.business.mapper.customer.DailyTrainTicketCustomerMapper">

    <resultMap id="BaseResultMap" type="com.han.train.business.domain.DailyTrainStation">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="date" jdbcType="DATE" property="date"/>
        <result column="train_code" jdbcType="VARCHAR" property="trainCode"/>
        <result column="index" jdbcType="INTEGER" property="index"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="name_pinyin" jdbcType="VARCHAR" property="namePinyin"/>
        <result column="in_time" jdbcType="TIME" property="inTime"/>
        <result column="out_time" jdbcType="TIME" property="outTime"/>
        <result column="stop_time" jdbcType="TIME" property="stopTime"/>
        <result column="km" jdbcType="DECIMAL" property="km"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <update id="updateCountBySell">
        update daily_train_ticket set
        <if test="seatTypeCode == '1'.toString()">
            ydz = ydz - 1
        </if>
        <if test="seatTypeCode == '2'.toString()">
            edz = edz - 1
        </if>
        <if test="seatTypeCode == '3'.toString()">
            rw = rw - 1
        </if>
        <if test="seatTypeCode == '4'.toString()">
            yw = yw - 1
        </if>
        where `date` = #{date}
        and train_code = #{trainCode}
        and start_index &gt;= #{minStartIndex}
        and start_index &lt;= #{maxStartIndex}
        and end_index &gt;= #{minEndIndex}
        and end_index &lt;= #{maxEndIndex}
    </update>
</mapper>
